<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kompanija</title>


    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/s_kompanija_profil.css" rel="stylesheet">
    <link href="css/s_profil.css" rel="stylesheet">

</head>
<body onload="vratiKompaniju(); ">

<h2>Kompanija</h2>


<div class="navbar navbar-red navbar-static-top">

    <ul class="nav navbar-nav" id="traka">
        <li>
            <a href="pocetna.html"><i class="glyphicon glyphicon-home"></i> Home</a>
        </li>


        <li>
            <a href="student_profil.html" id="glava"><i class="glyphicon glyphicon-user"></i> Profil</a>
        </li>

    </ul>
    <h2>Iteh #fon - kompanija</h2>
</div>


<div class="full col-sm-9">

    <!-- content -->
    <div class="row">

        <!-- main col left -->
        <div class="col-sm-5">

            <div class="panel panel-default" id="slika_div">
                <div class="panel-thumbnail" id="slikaK">
                    <img src="img/images.jpg" class="img-responsive">
                </div>
                <div class="panel-body">
                    <p class="lead" id="ime"></p>

                    <p>13 Oglasa</p>


                    <i class="glyphicon glyphicon-user"></i>

                </div>
            </div>


        </div>

        <!-- main col right -->
        <div class="col-sm-7">

            <div class="panel panel-default" id="profil">
                <div class="panel-heading"><a id="editStudent" href="#" class="pull-right"></a>
                    <h4>Informacije o kompaniji</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-group">

                        <li class="list-group-item editable">
                            <div class="ext-left">
                                Email :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="ext-right">
                                <p class="ext-name" id="email">microsoft@gmail.com</p>

                            </div>
                        </li>

                        <li class="list-group-item editable">
                            <div class="ext-left">
                                Adresa :&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="ext-right">
                                <p class="ext-name" id="adresa"> dassadsdadsa 321</p>

                            </div>
                        </li>

                        <br>

                        <div class="form-group">
                            <label class="editable" for="comment">Opis :</label>
                            <textarea class="form-control" rows="5" id="miniNaslov"></textarea>
                        </div>


                    </ul>
                </div>
            </div>


        </div>
    </div>
    <!--/row-->


    <h1>Oglasi: </h1>
    <br>
    <br>
    <br>
    <br>

    <div class="panel panel-default" id="snipet">
        <div class="panel-heading">
            <h4>Oglas 1</h4>
        </div>
        <div class="panel-body">

            <div class="container">
                <div class="row-fluid">
                    <div class="span6 col-md-6" style="padding-right:20px; border-right: 1px solid #ccc; height:150px;">
                        <p>Tekst oglasa</p>
                    </div>

                    <div class="span6 col-md-6">
                        <p>Link ka kompaniji</p> <a href="https://github.com/Aracki/hashfon">https://github.com/Aracki/hashfon</a>


                    </div>
                </div>
            </div>


        </div>
    </div>


</div>


<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/k_main.js"></script>

<script type="text/javascript" src="js/s_main.js"></script>
</body>
</html>
